<div class="footer-wrapper">

  <button class="cart-btn-wrapper" (click)="abrirCarrinho()">
    <div class="cart-btn">
      <img src="assets/img/car.png" alt="Carrinho" class="btn-icon">
    </div>
  </button>

  <ion-footer>
    <div class="footer-btns">

      <a routerLink="/ticket" class="footer-btn">
        <img src="assets/img/ticket.png" alt="Ticket" class="btn-icon">
      </a>

      <a routerLink="/home" class="footer-btn">
        <img src="assets/img/home.png" alt="Início" class="btn-icon">
      </a>

      <div class="footer-btn espaco"></div>

      <a routerLink="/notificacoes" class="footer-btn">
        <img src="assets/img/notificacao.png" alt="Notificações" class="btn-icon">
      </a>

      <!-- SE LOGADO → PERFIL | SE NÃO → LOGIN -->
      <a [routerLink]="authService.logado ? '/perfil' : '/login'"
        class="footer-btn">
        <img src="assets/img/usuario1.png" alt="Perfil" class="btn-icon">
      </a>

    </div>
  </ion-footer>

</div>
