<div class="footer-wrapper">

  <!-- Carrinho FORA do footer para não ser cortado -->
  <div class="cart-btn-wrapper">
    <ion-button fill="clear" class="cart-btn" (click)="abrirCarrinho()">
      <img src="assets/img/car.png" class="cart-icon">
    </ion-button>
  </div>

  <ion-footer>
    <ion-toolbar>
      <div class="footer-container">

        <ion-button fill="clear" routerLink="/ticket">
          <img src="assets/img/ticket.png" slot="icon-only" class="footer-icon">
        </ion-button>

        <ion-button fill="clear" routerLink="/home">
          <img src="assets/img/home.png" slot="icon-only" class="footer-icon">
        </ion-button>

        <!-- Espaço reservado para o carrinho no centro -->
        <div class="cart-placeholder"></div>

        <ion-button fill="clear" routerLink="/notificacoes">
          <img src="assets/img/notificacao.png" slot="icon-only" class="footer-icon">
        </ion-button>

        <ion-button fill="clear" routerLink="/login">
          <img src="assets/img/usuario1.png" slot="icon-only" class="footer-icon">
        </ion-button>

      </div>
    </ion-toolbar>
  </ion-footer>

</div>