  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-searchbar 
      placeholder="Categoria / Produto" 
      (ionInput)="buscar($event)"
      showCancelButton="never">
    </ion-searchbar>
  </ion-toolbar>

  <div class="suggestions-container" *ngIf="sugestoes.length > 0">
    <ion-list>
      <ion-item *ngFor="let item of sugestoes" (click)="selecionar(item)">
        <ion-label>{{ item.nome }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
