/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

/* Tela de introdução */
#intro-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;//radial-gradient(circle, #fff 0%, #22dbcf 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  transition: opacity 1s ease-out;

  img {
    width: 50%;
    max-width: 400px;
    height: auto;
  }
}

/* Background padrão do app */
ion-content {
  --background: #ffffff;
}

/* Swiper */
swiper-container {
  width: 100%;
  display: block;
}

swiper-slide img {
  width: 100%;
  display: block;
  border-radius: 12px;
  object-fit: cover;
}

/* Footer */
ion-footer {
  padding-bottom: 0 !important;
  --ion-safe-area-bottom: 0px;

  &::after {
    display: none !important;
  }
}
ion-footer {
  z-index: 999 !important;
  position: relative !important;
}
app-footer ion-footer {
  --background: #39e6c2 !important;
}

/* Fix compatibilidade entre browsers */
ion-app {
  background: #ffffff;
}

app-footer ion-footer {
  background: #39e6c2 !important;
  --background: #39e6c2 !important;
}

/* Remove faixa branca do topo */
ion-header::after {
  display: none !important;
}

ion-footer::before {
  display: none !important;
}
app-header ion-toolbar {
  --background: #00BF9F;
  --color: white;
}

app-header ion-menu-button {
  color: white;
}

app-header ion-searchbar {
  --background: white;
  --border-radius: 25px;
  --box-shadow: none;
  --placeholder-color: #999;
  --color: #333;
  --icon-color: #4DD9D5;
  padding: 4px 8px 4px 0;
}