<ion-menu side="start" contentId="main-content">
  <ion-content>

    <div class="perfil">
      <img src="assets/img/usuario.png" alt="Avatar" class="avatar">
      <div class="perfil-info">
        <strong>{{ authService.usuario?.nome || 'Visitante' }}</strong>
        <span class="email">{{ authService.usuario?.email || '' }}</span>
        <span class="badge-tipo" *ngIf="authService.logado"
          [class]="'tipo-' + authService.tipo">
          {{ authService.tipo | titlecase }}
        </span>
      </div>
    </div>

    <ul class="menu-list">
      <li *ngFor="let item of itensUsuario">
        <a [routerLink]="item.rota" (click)="fecharMenu()">
          <img [src]="item.img" [alt]="item.label">
          <span>{{ item.label }}</span>
        </a>
      </li>

      <ng-container *ngIf="authService.isModerador">
        <li class="separador"><span>Moderação</span></li>
        <li *ngFor="let item of itensModerador">
          <a [routerLink]="item.rota" (click)="fecharMenu()">
            <img [src]="item.img" [alt]="item.label">
            <span>{{ item.label }}</span>
          </a>
        </li>
      </ng-container>

      <ng-container *ngIf="authService.isAdmin">
        <li class="separador"><span>Administração</span></li>
        <li *ngFor="let item of itensAdmin">
          <a [routerLink]="item.rota" (click)="fecharMenu()">
            <img [src]="item.img" [alt]="item.label">
            <span>{{ item.label }}</span>
          </a>
        </li>
      </ng-container>
    </ul>

  </ion-content>

  <ion-footer>
    <div class="menu-footer">
      <button class="btn-sair" (click)="logout()" *ngIf="authService.logado">
        <img src="assets/img/sair.png" alt="Sair">
        <span>Sair</span>
      </button>
      <a routerLink="/login" class="btn-sair" *ngIf="!authService.logado"
        (click)="fecharMenu()">
        <img src="assets/img/usuario1.png" alt="Login">
        <span>Entrar</span>
      </a>
    </div>
  </ion-footer>

</ion-menu>
