<ion-menu side="start" contentId="main-content">
  <ion-content>

    <div class="perfil">
      <img [src]="authService.usuario?.foto_perfil || 'assets/img/usuario.png'" alt="Avatar" class="avatar">
      <div class="perfil-info">
        <strong>{{ authService.usuario?.nome || 'Visitante' }}</strong>
        <span class="email">{{ authService.usuario?.email || '' }}</span>
        <span class="badge-tipo" *ngIf="authService.logado"
          [class]="'tipo-' + authService.tipo">
          {{ authService.tipo | titlecase }}
        </span>
      </div>
    </div>

    <!-- ITENS PRINCIPAIS (5) -->
    <ul class="menu-list menu-principal">
      <li *ngFor="let item of itensPrincipais">
        <a [routerLink]="item.rota" (click)="fecharMenu()" routerLinkActive="active">
          <ion-icon [name]="item.icon"></ion-icon>
          <span>{{ item.label }}</span>
        </a>
      </li>
    </ul>

    <!-- BOTÃO MAIS -->
    <button class="btn-mais" (click)="toggleMais()">
      <ion-icon name="ellipsis-vertical"></ion-icon>
      <span>{{ showMais ? 'Menos opções' : 'Ferramentas' }}</span>
    </button>

    <!-- ITENS EXPANDIDOS -->
    <ul class="menu-list menu-mais" *ngIf="showMais">
      <li *ngFor="let item of itensMais">
        <a [routerLink]="item.rota" (click)="fecharMenu()" routerLinkActive="active">
          <ion-icon [name]="item.icon"></ion-icon>
          <span>{{ item.label }}</span>
        </a>
      </li>
    </ul>

    <!-- SEÇÕES ADMIN/MODERADOR/MERCADO -->
    <ng-container *ngIf="authService.isModerador">
      <div class="separador"><span>Moderação</span></div>
      <ul class="menu-list">
        <li *ngFor="let item of itensModerador">
          <a [routerLink]="item.rota" (click)="fecharMenu()" routerLinkActive="active">
            <ion-icon [name]="item.icon"></ion-icon>
            <span>{{ item.label }}</span>
          </a>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="authService.isAdmin">
      <div class="separador"><span>Administração</span></div>
      <ul class="menu-list">
        <li *ngFor="let item of itensAdmin">
          <a [routerLink]="item.rota" (click)="fecharMenu()" routerLinkActive="active">
            <ion-icon [name]="item.icon"></ion-icon>
            <span>{{ item.label }}</span>
          </a>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="authService.isMercadoAdmin || authService.isAdmin">
      <div class="separador"><span>Meu Mercado</span></div>
      <ul class="menu-list">
        <li *ngFor="let item of itensMercado">
          <a [routerLink]="item.rota" (click)="fecharMenu()" routerLinkActive="active">
            <ion-icon [name]="item.icon"></ion-icon>
            <span>{{ item.label }}</span>
          </a>
        </li>
      </ul>
    </ng-container>

  </ion-content>

  <ion-footer>
    <div class="menu-footer">
      <button class="btn-sair" (click)="logout()" *ngIf="authService.logado">
        <ion-icon name="log-out"></ion-icon>
        <span>Sair</span>
      </button>
      <a routerLink="/login" class="btn-sair" *ngIf="!authService.logado"
        (click)="fecharMenu()">
        <ion-icon name="person"></ion-icon>
        <span>Entrar</span>
      </a>
    </div>
  </ion-footer>

</ion-menu>
