<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <!-- Perfil do usuário -->
      <div class="menu-profile">
        <img src="assets/img/usuario.png" alt="Usuário" class="profile-icon">
        <div class="user-info">
          <strong>{{ usuario.nome }}</strong>
          <span class="email">{{ usuario.email }}</span>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list lines="none">

      <ion-item button routerLink="/home" (click)="fecharMenu()">
        <img src="assets/img/inicio.png" slot="start" class="menu-icon">
        <ion-label>Inícial</ion-label>
      </ion-item>

      <ion-item button routerLink="/pesquisar-produtos" (click)="fecharMenu()">
        <img src="assets/img/lupa1.png" slot="start" class="menu-icon">
        <ion-label>Pesquisar Produtos</ion-label>
      </ion-item>

      <ion-item button routerLink="/mercados-proximos" (click)="fecharMenu()">
        <img src="assets/img/mercado.png" slot="start" class="menu-icon">
        <ion-label>Mercados Próximos</ion-label>
      </ion-item>

      <ion-item button routerLink="/comparar" (click)="fecharMenu()">
        <img src="assets/img/comparar.png" slot="start" class="menu-icon">
        <ion-label>Comparar Preços</ion-label>
      </ion-item>

      <ion-item button routerLink="/carrinho" (click)="fecharMenu()">
        <img src="assets/img/car.png" slot="start" class="menu-icon">
        <ion-label>Meu Carrinho</ion-label>
      </ion-item>

      <ion-item button routerLink="/historico" (click)="fecharMenu()">
        <img src="assets/img/historico.png" slot="start" class="menu-icon">
        <ion-label>Histórico</ion-label>
      </ion-item>

      <ion-item button routerLink="/configuracoes" (click)="fecharMenu()">
        <img src="assets/img/configuracao.png" slot="start" class="menu-icon">
        <ion-label>Configurações</ion-label>
      </ion-item>

      <ion-item button routerLink="/cadastrar-mercado" (click)="fecharMenu()">
        <img src="assets/img/cadastrarmercados.png" slot="start" class="menu-icon">
        <ion-label>Cadastrar Mercado</ion-label>
      </ion-item>

      <!-- Itens exclusivos de Admin -->
      <ng-container *ngIf="isAdmin">
        <ion-item-divider></ion-item-divider>

        <ion-item button routerLink="/gerenciar-mercados" (click)="fecharMenu()">
          <img src="assets/img/admin.png" slot="start" class="menu-icon">
          <ion-label>Gerenciar Mercados</ion-label>
        </ion-item>

        <ion-item button routerLink="/gerenciar-produtos" (click)="fecharMenu()">
          <img src="assets/img/admin.png" slot="start" class="menu-icon">
          <ion-label>Gerenciar Produtos</ion-label>
        </ion-item>

        <ion-item button routerLink="/gerenciar-usuarios" (click)="fecharMenu()">
          <img src="assets/img/admin.png" slot="start" class="menu-icon">
          <ion-label>Gerenciar Usuários</ion-label>
        </ion-item>
      </ng-container>

      <ion-item-divider></ion-item-divider>

      <ion-item button routerLink="/ajuda" (click)="fecharMenu()">
        <img src="assets/img/ajuda.png" slot="start" class="menu-icon">
        <ion-label>Ajuda e suporte</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>

  <!-- Botão Sair fixo no rodapé -->
  <ion-footer>
    <ion-item button (click)="logout()" class="logout-btn">
      <img src="assets/img/sair.png" slot="start" class="menu-icon">
      <ion-label color="danger">Sair</ion-label>
    </ion-item>
  </ion-footer>

</ion-menu>